<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contaimer"></div>
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h1>Portfolio Web</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed earum explicabo illo ipsum ducimus sequi eum, fugiat aperiam totam deleniti minima rerum recusandae odit? Doloremque minus aliquid vel nobis quidem.</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/instagram.png" class="img fluid img-proyecto">
    </div>
</div>

